
body{
    padding-top: 7rem;
    background: url(https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80)
     no-repeat center center fixed;
    background-size: cover;
}

.container {
    margin: 60px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h1 {
    color: #007bff;
  }
  
  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  